**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.coverage
**/htmlcov
**/.mypy_cache
**/.tox
**/.nox
**/.git
**/.gitignore
**/README.md
**/docs
**/*.md
**/tests
**/.venv
**/venv
**/.env
**/.env.*
**/.env.example
**/Dockerfile
**/docker-compose*.yml
**/.dockerignore
